Repository voxpupuli/puppet-corosync, pull requests merged in 2019-09, with the labels that each got.

#475 Feat: Add pcs STONITH Resource Support
  CONTRIBUTING.md
  README.md
  REFERENCE.md
  lib/puppet/provider/cs_primitive/pcs.rb
  manifests/init.pp
  manifests/params.pp
  spec/acceptance/cs_primitive_spec.rb
  spec/classes/corosync_spec.rb
  spec/unit/puppet/provider/cs_primitive_pcs_spec.rb
Labels: enhancement

#458 Corosync-qdevice and PCSD Auth
  README.md
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  manifests/qdevice.pp
  spec/classes/corosync_qdevice_spec.rb
  spec/classes/corosync_spec.rb
  templates/corosync.conf.erb
  types/quorumalgorithm.pp
Labels: enhancement

#471 Fix indentation
  manifests/init.pp
Labels: tests-fail

#473 Don't fail when set_votequorum=true and cluster_name is set
  manifests/init.pp
  spec/classes/corosync_spec.rb
Labels: bug

#476 fix: cs_primitive pcs resource update for Master/Slave primitive correction
  CONTRIBUTING.md
  lib/puppet/provider/cs_primitive/pcs.rb
  spec/acceptance/cs_primitive_spec.rb
Labels: bug
