Repository voxpupuli/puppet-corosync, pull requests merged in 2020-12, with the labels that each got.

#492 modulesync 4.0.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .travis.yml
  Gemfile
  README.md
  REFERENCE.md
  Rakefile
  manifests/init.pp
  manifests/params.pp
  manifests/qdevice.pp
  metadata.json
  spec/spec_helper_acceptance.rb
Labels: modulesync

#497 Remove Debian jessie
  README.md
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  metadata.json
  spec/spec_helper_acceptance.rb
Labels: backwards-incompatible

#462 Add SLES 12/15 Support
  manifests/params.pp
  metadata.json
Labels: enhancement
