Repository voxpupuli/puppet-corosync, pull requests merged in 2020-05, with the labels that each got.

#446 modulesync 2.12.0
  .editorconfig
  .fixtures.yml
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rubocop.yml
  .sync.yml
  .travis.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  Gemfile
  HISTORY.md
  REFERENCE.md
  Rakefile
  manifests/init.pp
  manifests/params.pp
  spec/acceptance/nodesets/centos-511-x64.yml
  spec/acceptance/nodesets/centos-6-x64.yml
  spec/acceptance/nodesets/centos-66-x64-pe.yml
  spec/acceptance/nodesets/centos-66-x64.yml
  spec/acceptance/nodesets/centos-7-x64.yml
  spec/acceptance/nodesets/centos-72-x64.yml
  spec/acceptance/nodesets/debian-78-x64.yml
  spec/acceptance/nodesets/debian-82-x64.yml
  spec/acceptance/nodesets/fedora-24-x64.yml
  spec/acceptance/nodesets/fedora-25-x64.yml
  spec/acceptance/nodesets/fedora-26-x64.yml
  spec/acceptance/nodesets/fedora-27-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1204-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1404-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1604-x64.yml
  spec/classes/corosync_spec.rb
  spec/classes/coverage_spec.rb
  spec/default_facts.yml
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  templates/corosync.conf.erb
Labels: modulesync

#486 Drop unsupported code 1.x support
  REFERENCE.md
  manifests/init.pp
  manifests/params.pp
  spec/classes/corosync_spec.rb
  templates/corosync.conf.erb
Labels: backwards-incompatible

#481 Fix authkey type: allow same type as file source
  manifests/init.pp
Labels: tests-fail
