Repository voxpupuli/puppet-corosync, pull requests merged in 2021-03, with the labels that each got.

#454 Add possibility to define watchdog_device resource
  manifests/init.pp
  spec/classes/corosync_spec.rb
  templates/corosync.conf.erb
Labels: enhancement

#501 Drop Puppet 5 support; require Puppet 6.1.0
  README.md
  metadata.json
  spec/classes/corosync_spec.rb
Labels: backwards-incompatible

#502 Enable Puppet 7 support
  metadata.json
Labels: enhancement

#503 release 8.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
