Repository voxpupuli/puppet-corosync, pull requests merged in 2021-06, with the labels that each got.

#509 expose the config_validate_cmd
  manifests/init.pp
  spec/classes/corosync_spec.rb
Labels: enhancement

#505 Only notify, subscribe, require corosync service if it shall be managed.
  manifests/init.pp
  spec/classes/corosync_spec.rb
Labels: bug

#511 release 8.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#514 puppetlabs/stdlib: Allow 7.x
  metadata.json
Labels: enhancement

#515 release 8.2.0
  CHANGELOG.md
  Gemfile
  metadata.json
Labels: skip-changelog

#516 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .msync.yml
  Dockerfile
  Gemfile
Labels: modulesync
