Repository voxpupuli/puppet-corosync, pull requests merged in 2025-03, with the labels that each got.

#555 use chomp instead of chop
  .rubocop_todo.yml
  lib/puppet/provider/cs_clone/pcs.rb
  lib/puppet/provider/cs_colocation/pcs.rb
  lib/puppet/provider/cs_commit/pcs.rb
  lib/puppet/provider/cs_group/crm.rb
  lib/puppet/provider/cs_group/pcs.rb
  lib/puppet/provider/cs_location/pcs.rb
  lib/puppet/provider/cs_order/pcs.rb
  lib/puppet/provider/cs_primitive/pcs.rb
  lib/puppet/provider/cs_property/pcs.rb
  lib/puppet/provider/cs_rsc_defaults/pcs.rb
  lib/puppet/provider/cs_shadow/pcs.rb
  spec/acceptance/cs_location_spec.rb
  spec/acceptance/cs_order_spec.rb
  spec/spec_helper_acceptance.rb
  spec/unit/puppet/provider/cs_clone_pcs_spec.rb
Labels: bug

#534 Add Puppet 8 support
  .github/workflows/ci.yml
  metadata.json
Labels: enhancement

#552 modulesync 9.4.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#538 feat: Set crm as default provider for ubuntu
  lib/puppet/provider/cs_clone/crm.rb
  lib/puppet/provider/cs_colocation/crm.rb
  lib/puppet/provider/cs_commit/crm.rb
  lib/puppet/provider/cs_group/crm.rb
  lib/puppet/provider/cs_location/crm.rb
  lib/puppet/provider/cs_order/crm.rb
  lib/puppet/provider/cs_primitive/crm.rb
  lib/puppet/provider/cs_property/crm.rb
  lib/puppet/provider/cs_rsc_defaults/crm.rb
  lib/puppet/provider/cs_shadow/crm.rb
Labels: enhancement

#560 Drop EoL Debian 10 support
  metadata.json
Labels: backwards-incompatible
